@import '../../style/tools/sizes';

.info-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
  width: 100%;

  @media screen and (min-width: 769px) {
    border-radius: 3px;
    margin-bottom: $gutter;
    margin-top: $gutter;
  }
}

.message {
  margin-top: 50px;
  opacity: .5;
  text-align: center;

  &__icon {
    display: block;
    font-size: 80px;
    opacity: .3;
  }
}

.alert {
  animation: .2s alert ease-out;
  background-color: #323232;
  bottom: $half-gutter;
  border-radius: 3px;
  color: #fff;
  left: $half-gutter;
  line-height: 1.8rem;
  margin: 0 auto;
  max-width: 500px;
  padding: $half-gutter;
  position: fixed;
  right: $half-gutter;
  width: calc(100% - $gutter);
  z-index: 100;
}
