@import '../../style/tools/sizes';
@import '../../style/tools/colors';

.header {
  align-items: center;
  background-color: $color-primary;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  display: flex;
  height: $header-height;
  justify-content: center;
  left: 0;
  padding: 0 $half-gutter;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &__logo {
    height: 32px;
    margin-right: $half-gutter;

    @media screen and (max-width: 768px) {
      margin-right: $half-gutter;
    }

    @media screen and (min-width: 769px) {
      margin-right: 130px;
    }
  }

  &__avatar {
    border-radius: 32px;
    min-width: 32px;
    width: 32px;

    @media screen and (min-width: 769px) {
      margin-left: 100px;
    }
  }
}
