@import '../../style/tools/sizes';
@import '../../style/tools/colors';

.header {
  align-items: center;
  background-color: $color-primary;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  display: flex;
  height: $header-height;
  justify-content: space-between;
  padding: 0 300px;
  width: 100%;

  &__logo {
    height: 32px;
  }

  &__avatar {
    border-radius: 32px;
  }
}
