/**
 * Animations
 */

@keyframes fade {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes alert {
  from { transform: translateY(20px); }
    to { transform: translateY(0); }
}
