/**
 * Adjust global styles to be same in major browsers
 */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f0f0f0;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
